[Unit]
Description=pCloud console client
After=network.target

[Service]
Type=forking
User=your_username
Group=your_group
WorkingDirectory=/home/your_username
ExecStart=/usr/bin/pcloudcc -u your_pcloud_account -p your_pcloud_password -m your_mount_point -d
ExecStop=/usr/bin/pcloudcc -k quit
Restart=on-failure

[Install]
WantedBy=multi-user.target
